<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group">
                <button class="btn btn-primary" btnRadio="Unread" [(ngModel)]="container" (click)="loadMessage()">Unread</button>
                <button class="btn btn-primary" btnRadio="Inbox" [(ngModel)]="container" (click)="loadMessage()">Inbox</button>
                <button class="btn btn-primary" btnRadio="Outbox" [(ngModel)]="container" (click)="loadMessage()">Outbox</button>
        </div>
    </div>
</div>

<div *ngIf="!messageService.paginatedResult()?.items">
        <h3>No Messages</h3>
</div>

<div *ngIf="messageService.paginatedResult()?.items">
        <table class="table table-hover mt-3" style="cursor: pointer;">
                <thead>
                        <tr>
                                <th style="width: 40%;">Message</th>
                                <th style="width: 20%;">From / To</th>
                                <th style="width: 20%;">Sent / Received</th>
                                <th style="width: 20%;"></th>
                        </tr>
                </thead>
                <tbody class="aline-middle" *ngFor="let message of messageService.paginatedResult()?.items">
                        <tr routerLink = "{{getRoute(message)}}">
                                <td>{{message.content}}</td>
                                <td>
                                        <div>
                                               <img [src]="container === 'Outbox'
                                               ? (message.recipientPhotoUrl || './asset/user.png') 
                                               : (message.senderPhotoUrl || './asset/user.png')"
                                               alt="image of user" class="rounded-circle me-2"
                                               >

                                               <strong>{{container === 'Outbox'? message.recipientUsername : message.senderUsername}}</strong>
                                        </div>
                                </td>
                                <td>{{message.messageSent| timeago}}</td>
                                <td><button class="btn btn-danger">Delete</button></td>
                        </tr>
                </tbody>
        </table>
</div>

<div *ngIf="messageService.paginatedResult()?.pagination">
        <div class="d-flex justify-content-center">
            <pagination 
            [boundaryLinks]="true" 
            [totalItems]="messageService.paginatedResult()?.pagination!.totalItems"
            [itemsPerPage]="messageService.paginatedResult()?.pagination!.itemsPerPage"
            (pageChanged) = "pageChanged($event)"
            [(ngModel)]="messageService.paginatedResult()?.pagination!.currentPage"
            [maxSize]="10"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
         
        </pagination>
        </div>
        
    </div>
    